@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
    --p: #ff3131;
    --s: yellow;
    --t: rgb(214, 15, 15);
    --c: rgb(160, 158, 158);
    --w: white;
    --b: black;
}

/*==========================================================================*/
/*Cabeçalho Padrão*/

header{
    height: 9rem;
    color: var(--w);
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background.jpg);
    height: 7rem;
    text-shadow: 0.2rem 0rem 0rem var(--b);
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background-color: var(--p);
    height: 2rem;
    font-size: 1.5rem;
}

header nav ul li{
    width: 20%;
    height: 100%;
    text-align: center;
}

header nav ul li a{
    color: var(--w);
    text-decoration: none;
}

header nav ul li:hover{
    background-color: var(--t);
    cursor: pointer;
}

/*==========================================================================*/
/*Corpo Geral*/

main{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 11rem);
    text-align: justify;
}

/*==========================================================================*/
/*Corpo do index*/

.text h3{
    color: var(--t);
}

.text article{
    width: 85%;
    padding: 5%;
    font-size: larger;
}

.text article ol{
    list-style-type: upper-roman;
}

.text article ul{
    list-style-type: square;
}

.text article ul, ol{
    margin-left: 3rem;
}

.text article ul li div img{
    height: 8rem;
}

/*==========================================================================*/
/*Rodapé padrão*/

footer{
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center; 
    background-color: var(--p);  
    color: var(--s); 
    border-bottom: 0.5rem solid var(--p);
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

footer p{
    padding-left: 1rem;
    color: var(--w);
}

.footer{
    background-color: var(--b);
    height: 2rem;
}